.basket-item {
  display: flex;

  &__image {
    img {
      width: 140px;
    }
  }

  h5 {
    margin-bottom: 20px;
  }

  &__details {
    margin-left: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;

    & > div {
      margin-right: 40px;

      &:last-child {
        margin-right: 20px;
      }
    }
  }

  &__qty {
    input {
      width: 50px;
    }
  }

  &__action-col {
    .btn {
      margin-right: 20px;
    }
  }
  &--mini {
    .basket-item__image {
      img {
        width: 80px;
      }
    }
    .basket-item__details {
      // font-size: 15px;

      h5 {
        margin-bottom: 0px;
      }
    }
  }
}
