// import the basics
@import "colours";
@import "normalize";

body {
  font-family: "Prata", serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
// specify inputs here to ensure variables are imported beforehand
// relies on npm sass globbing
@import "../components/**/*.scss";
