<div class="user-review">
    <div class="user-review-wrapper">
        <div class="title">
            <h2>{{title}}</h2>
        </div>
        {{render '@stars'}}
    </div>

    <div class="date">{{date}}</div>
    <textarea name="comment" id="" cols="30" rows="10">Comment</textarea>
</div>