.filter-dropdown {
  position: relative;
  border: 1px solid #ccc;

  & > label {
    padding: 10px 30px 10px 20px;
    display: block;
  }

  i.fa {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .filter-root {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    height: 28px;
    z-index: 2;

    &:checked {
      & ~ ul {
        display: block;
      }

      & ~ i.fa::before {
        content: "\f106";
      }
    }
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    z-index: 99;
    position: absolute;
    background: #fff;

    li {
      position: relative;

      label {
        display: block;
        padding: 10px 20px;
      }

      input[type="checkbox"] {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0;

        &:checked ~ label {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
