<div class="filter-dropdown">
  <label>{{label}} </label>
  <input type="checkbox" name="filter" class="filter-root">
  <i class="fa fa-angle-down"></i>
  <ul>
    {{#each options}}
    <li>
      <input type="checkbox" value="{{value}}" />
      <label>
        {{label}}
      </label>
    </li>
    {{/each}}
  </ul>
</div>