.products-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .product {
    width: calc(33% - 10px);
    margin-bottom: 20px;
  }

  @media (max-width: 760px) {
    flex-direction: column;
    .product {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: clamp(300px, 80vw, 400px);
        object-fit: cover;
      }
    }
  }
}
