<div class="products-wrap">
    <h3>Neue Produkte</h3>
    <div class="products-list">
        {{ render '@product' pr1}}
        {{ render '@product' pr2}}
        {{ render '@product' pr3}}
    </div>

</div>