<div class="banner banner--short">
  {{#if blockquote}} <div class="banner__text">
    {{render '@blockquote' blockquote}}
    <p class="author">- {{author}}</p>
  </div>{{/if}}
  {{render '@image' imageData}}
</div>