<div class="banner">
    <div class="banner__text">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum maxime atque</blockquote>
        <p class="author">Thomas Mann Singh</p>
    </div>
    {{render '@image'}}
</div>