.banner {
  position: relative;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  &--short {
    img {
      height: 260px;
    }
  }
  &__text {
    padding: 20px;
    position: absolute;
    right: 0;
    max-width: 50%;
    bottom: 10%;
    background: rgba(255, 255, 255, 0.5);
  }

  @media (max-width: 1024px) {
    &__text {
      max-width: 100%;
      bottom: 0;
    }
  }

  .author {
    text-align: right;
  }
}
