<div class="subtotal">
  <hr>
  <div class="subtotal__total">
    <div class="left-col">Total</div>
    <div class="right-col">
      &euro;27,99
    </div>
  </div>
  <div class="subtotal__total">
    <div class="left-col">Delivery</div>
    <div class="right-col">
      Free
    </div>

  </div>
  <div class="subtotal__total">
    <h5>Total (incl. VAT)</h5>
    <div class="right-col">&euro;27,99</div>
  </div>
  <div class="info">
    <p>Price include vat reduced value added tax.</p>
  </div>
  {{render '@button' checkoutData}}
</div>