.site-header {
  margin-bottom: 40px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__logo {
    flex-grow: 1;
  }

  &__search {
    margin-right: 20px;
    max-width: 33%;
  }

  &__nav {
    margin-top: 50px;
  }
}
