<header class="site-header">
    <div class="row">
        <div class="site-header__logo">
            {{ render '@logo'}}
        </div>

        <div class="site-header__search">
            {{ render '@search'}}
        </div>

        <div class="site-header__mini-cart">
            {{ render '@mini-cart'}}
        </div>
    </div>
    <div class="site-header__nav">
        {{ render '@nav'}}
    </div>
</header>