

<div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/160/160?0.0755426283" alt="product Kalo Topi" />
    </div>
    <div class="basket-item__details">
        <h5>Kalo Topi</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 3
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 500,-</span>
</div>
            </div>
        </div>

    </div>


</div>
