

<section class="categories-wrap mt-50">
    <h2>Categorien</h2>
    <div class="categories">
        <div class="categories__cat categories__cat--span-1"><div class="category">
    <h3>Mütze</h3>
    <img src="https://picsum.photos/400/400?0.8890563523193884" alt="" />
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="btn">Jetzt Einkaufen</button>
    </div>
</div></div>
        <div class="categories__cat categories__cat--span-2"><div class="category">
    <h3>Handschuhe</h3>
    <img src="https://picsum.photos/800/400?0.8866925321230048" alt="" />
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="btn">Jetzt Einkaufen</button>
    </div>
</div></div>
        <div class="categories__cat categories__cat--span-2"><div class="category">
    <h3>Socken</h3>
    <img src="https://picsum.photos/800/400?0.6737643094323538" alt="" />
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="btn">Jetzt Einkaufen</button>
    </div>
</div></div>
        <div class="categories__cat categories__cat--span-1"><div class="category">
    <h3>Schmuck</h3>
    <img src="https://picsum.photos/400/400?0.3281685237441545" alt="" />
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <button class="btn">Jetzt Einkaufen</button>
    </div>
</div></div>
    </div>
</section>
