

<div class="container">
    <header class="site-header">
    <div class="row">
        <div class="site-header__logo">
            <h1 class="logo">Topi<span>.</span>de</h1>
        </div>

        <div class="site-header__search">
            <div class="search-form">
    <input type="text" placeholder="Search" value="" />
    <button class="btn btn--icon-button fa fa-search"> </button>
</div>
        </div>

        <div class="site-header__mini-cart">
            <div class="mini-cart">
  <div class="btn--checkbox-button">
    <input type="checkbox" id="mini-cart-check" />
    <label class="fa fa-shopping-cart" for="mini-cart-check"> </label>
    <div class="mini-basket">
    <div class="basket-items">
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12a3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">
    <span class="price--old">&euro; 22,-</span>

    <span class="price--new">&euro; 15,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12d3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Kharayo Handschuhe</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 17,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1253" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 3
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 11,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1233" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Harayo Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 1
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 12,-</span>
</div>
            </div>
        </div>

    </div>


</div>

</div>
    <div class="subtotal">
  <hr>
  <div class="subtotal__total">
    <div class="left-col">Total</div>
    <div class="right-col">
      &euro;27,99
    </div>
  </div>
  <div class="subtotal__total">
    <div class="left-col">Delivery</div>
    <div class="right-col">
      Free
    </div>

  </div>
  <div class="subtotal__total">
    <h5>Total (incl. VAT)</h5>
    <div class="right-col">&euro;27,99</div>
  </div>
  <div class="info">
    <p>Price includes value added tax.</p>
  </div>
  <button class="btn">Go to Checkout</button>
</div>
</div>
  </div>
  <span class="item-count">5</span>
</div>
        </div>
    </div>
    <div class="site-header__nav">
        <nav class="nav nav--default">
  <ul>
    <li><a href="./homepage">Startseite</a></li>
    <li><a href="./aboutpage">Uber uns</a></li>
    <li><a href="./categorypage">Kategorien</a></li>
    <li><a href="./stories">Geschichte</a></li>
    <li><a href="./contactpage">Kontakt</a></li>
  </ul>
</nav>
    </div>
</header>
    <div class="page-header">
    <div class="header-wrapper">
        <h1>Mütze</h1>
        <p>Mütze aus Nepal</p>
    </div>
</div>
    <div class="banner banner--short">
  
  <img src="https://picsum.photos/1200/300?0.2845732370416285" alt="Muten aus Nepal" />
</div>
    <div class="product-filters">
    <div class="sort">
        <i class="fa fa-sort-amount-desc ">Sort</i>
        <div class="sort__horizontal">
            <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="sort" id="radio-button-sort-p"
            value="p">
        <label for="radio-button-sort-p">Popular</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="sort" id="radio-button-sort-n"
            value="n">
        <label for="radio-button-sort-n">Newest</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="sort" id="radio-button-sort-c"
            value="c">
        <label for="radio-button-sort-c">Cheapest</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="sort" id="radio-button-sort-s"
            value="s">
        <label for="radio-button-sort-s">Sale</label>
    </div>
</div>
        </div>
        <div class="sort__dropdown"><div class="filter-dropdown">
  <label>Sort </label>
  <input type="checkbox" name="filter" class="filter-root">
  <i class="fa fa-angle-down"></i>
  <ul>
    <li>
      <input type="checkbox" value="p" />
      <label>
        Popular
      </label>
    </li>
    <li>
      <input type="checkbox" value="n" />
      <label>
        Newest
      </label>
    </li>
    <li>
      <input type="checkbox" value="c" />
      <label>
        Cheapest
      </label>
    </li>
    <li>
      <input type="checkbox" value="s" />
      <label>
        Sale
      </label>
    </li>
  </ul>
</div></div>
    </div>


    <div class="filter-dropdown">
  <label>Size </label>
  <input type="checkbox" name="filter" class="filter-root">
  <i class="fa fa-angle-down"></i>
  <ul>
    <li>
      <input type="checkbox" value="S" />
      <label>
        S
      </label>
    </li>
    <li>
      <input type="checkbox" value="M" />
      <label>
        M
      </label>
    </li>
    <li>
      <input type="checkbox" value="L" />
      <label>
        L
      </label>
    </li>
  </ul>
</div>
    <div class="filter-dropdown filter-dropdown--color">
  <label>Color <i class="fa fa-angle-down"></i> </label>
  <input type="checkbox" name="filter" class="filter-root">
  <ul>
    <li style="color:Red">
      <input type="checkbox" value="red" />
      <label>
        Red
      </label>
    </li>
    <li style="color:Green">
      <input type="checkbox" value="green" />
      <label>
        Green
      </label>
    </li>
    <li style="color:Blue">
      <input type="checkbox" value="blue" />
      <label>
        Blue
      </label>
    </li>
  </ul>
</div>
</div>
    <div class="products-wrap">
    <h3></h3>
    <div class="products-list">
        <div class="product">
    <a href="./product-details-page">
        <h3>Nepali topi</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.5392228923526636" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">

    <span class="price--new">&euro; 25</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
        <div class="product">
    <a href="./product-details-page">
        <h3>Kalo topi</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.026184769534911112" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">

    <span class="price--new">&euro; 20</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
        <div class="product">
    <a href="./product-details-page">
        <h3>Rangila topi</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.440361259514793" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">
    <span class="price--old">&euro; 17</span>

    <span class="price--new">&euro; 13</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
        <div class="product">
    <a href="./product-details-page">
        <h3>Seto topi</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.7254709972617444" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">

    <span class="price--new">&euro; 29</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
        <div class="product">
    <a href="./product-details-page">
        <h3>Mushroom topi</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.8364966060748098" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">

    <span class="price--new">&euro; 25</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
    </div>
</div>
    <div class="pagination">
    <nav>
        <ul>
            <li><a class="btn btn--icon-button fa fa-arrow-left" href="/prev">
    
</a></li>
            <li class="number active"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="number"><a href="#">...</a></li>
            <li class="number"><a href="#">22</a></li>
            <li><a class="btn btn--icon-button fa fa-arrow-right" href="/next">
    
</a></li>
        </ul>
    </nav>
</div>
    <section class="subscription">
    <h3>Newsletter</h3>
    <p>Bleiben Sie mit uns up to date und freuen Sie sich über exklusive Geschenke, Vorteils-Aktionen.</p>
    <form action="/">
        <div class="subscription__field"><input type="email" placeholder="E-Mail" required /></div>
        <div class="subscription__field"><label for=""><input type="checkbox" name="datenschutz" id="ds" required> Ja,
                ich
                akzeptiere die
                <a href="/">Datenschutzrechtlenie</a></label></div>
        <div class="subscription__action"><button class="btn">Anmelden</button></div>
    </form>
</section>
</div>
<div class="footer-menu">
    <div class="container">
        <div class="footer-menu__col">
            <h4>Hilfe</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/payment-invoices">Zahlung &amp; Rechnungen</a></li>
    <li><a href="/delivery-tracking">Lieferung &amp; Tracking</a></li>
    <li><a href="/damage-return">Schaden &amp; Ruckgabe</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Geschenkkarte</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/buy-giftcard">Geschenkkarte kaufen</a></li>
    <li><a href="/redeem-giftcard">Reklamation</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Uber uns</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/sory">Geschichte</a></li>
    <li><a href="/jobs">Jobs</a></li>
  </ul>
</nav>
            <div class="social-links">
    <a class="btn btn--icon-button fa fa-facebook" href="http://facebook.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-instagram" href="http://instagram.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-pinterest" href="http://pinterest.com/topi">
    
</a>
</div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer__copyright">&copy; 2020 Topi.de</div>
</footer>
