

<div class="contact-form">
    <form action="/">
        <div class="form-field">
    <label>First Name</label>
    <input type="text" placeholder="Enter your first name">

</div>
        <div class="form-field">
    <label>Last Name</label>
    <input type="text" placeholder="Enter your Last name">

</div>
        <div class="form-field">
    <label>Email</label>
    <input type="text" placeholder=" Enter your e-mail">

</div>
        <div class="form-field">
    <label>Subject</label>
    <select name="subject" id="feedback">
        <option value="1">General Feedback</option>
        <option value="2">Donations</option>
        <option value="3">Product enquiry</option>
        <option value="4">Delivery Issue</option>
    </select>
</div>
        <div class="form-field">
    <label>Branch</label>
    <select name="subject" id="feedback">
        <option value="1">Germany</option>
        <option value="2">Nepal</option>
        <option value="3">Global</option>
    </select>
</div>
        <div class="form-field">
    <label>Message</label>
    <textarea name="" id="" cols="30" rows="10" placeholder="Enter your Message"></textarea>
</div>
        <div class="form-actions">
            <button class="btn">Submit</button>
        </div>
    </form>
</div>
