

<div class="filter-dropdown">
  <label>Filter Name </label>
  <input type="checkbox" name="filter" class="filter-root">
  <i class="fa fa-angle-down"></i>
  <ul>
    <li>
      <input type="checkbox" value="1" />
      <label>
        Filter value 1
      </label>
    </li>
    <li>
      <input type="checkbox" value="2" />
      <label>
        Filter value 2
      </label>
    </li>
    <li>
      <input type="checkbox" value="3" />
      <label>
        Filter value 3
      </label>
    </li>
  </ul>
</div>
