

<div class="filter-dropdown filter-dropdown--color">
  <label>Filter Name <i class="fa fa-angle-down"></i> </label>
  <input type="checkbox" name="filter" class="filter-root">
  <ul>
    <li style="color:Filter value 1">
      <input type="checkbox" value="1" />
      <label>
        Filter value 1
      </label>
    </li>
    <li style="color:Filter value 2">
      <input type="checkbox" value="2" />
      <label>
        Filter value 2
      </label>
    </li>
    <li style="color:Filter value 3">
      <input type="checkbox" value="3" />
      <label>
        Filter value 3
      </label>
    </li>
  </ul>
</div>
