

<div class="footer-menu">
    <div class="container">
        <div class="footer-menu__col">
            <h4>Hilfe</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/payment-invoices">Zahlung &amp; Rechnungen</a></li>
    <li><a href="/delivery-tracking">Lieferung &amp; Tracking</a></li>
    <li><a href="/damage-return">Schaden &amp; Ruckgabe</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Geschenkkarte</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/buy-giftcard">Geschenkkarte kaufen</a></li>
    <li><a href="/redeem-giftcard">Reklamation</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Uber uns</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/sory">Geschichte</a></li>
    <li><a href="/jobs">Jobs</a></li>
  </ul>
</nav>
            <div class="social-links">
    <a class="btn btn--icon-button fa fa-facebook" href="http://facebook.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-instagram" href="http://instagram.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-pinterest" href="http://pinterest.com/topi">
    
</a>
</div>
        </div>
    </div>
</div>
