

<div class="form-field">
    <label>Rating</label>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
</div>
