

<div class="login-form">
    <div class="progress">
    <ul class="progressbar">
        <li>login</li>
        <li class="active">Adress</li>
        <li>payment</li>
        <li>confirm</li>
        <li>Done</li>
    </ul>
</div>
    <div class="login-form__row">
        <div class="login-form__col">
            <div class="title">
                <h3>Welcome Back</h3>
            </div>
            <form action="/">
                <div class="form-field">
    <label>Email</label>
    <input type="text" placeholder=" Enter your e-mail">

</div>
                <div class="form-field">
    <label>Password</label>
    <input type="password" placeholder="password">

</div>
                <button class="btn">Login</button>
            </form>
        </div>
        <div class="login-form__col">
            <div class="title">
                <h3>I am New Here</h3>
            </div>
            <button class="btn">Register</button>
        </div>
    </div>
    <div class="payment-methods">
    <div class="payment-methods__cards">
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
    </div>

</div>

</div>
