

<div class="pagination">
    <nav>
        <ul>
            <li><a class="btn btn--icon-button fa fa-arrow-left" href="/prev">
    
</a></li>
            <li class="number active"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="number"><a href="#">...</a></li>
            <li class="number"><a href="#">22</a></li>
            <li><a class="btn btn--icon-button fa fa-arrow-right" href="/next">
    
</a></li>
        </ul>
    </nav>
</div>
