

<div class="container">
    <header class="site-header">
    <div class="row">
        <div class="site-header__logo">
            <h1 class="logo">Topi<span>.</span>de</h1>
        </div>

        <div class="site-header__search">
            <div class="search-form">
    <input type="text" placeholder="Search" value="" />
    <button class="btn btn--icon-button fa fa-search"> </button>
</div>
        </div>

        <div class="site-header__mini-cart">
            <div class="mini-cart">
  <div class="btn--checkbox-button">
    <input type="checkbox" id="mini-cart-check" />
    <label class="fa fa-shopping-cart" for="mini-cart-check"> </label>
    <div class="mini-basket">
    <div class="basket-items">
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12a3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">
    <span class="price--old">&euro; 22,-</span>

    <span class="price--new">&euro; 15,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12d3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Kharayo Handschuhe</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 17,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1253" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 3
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 11,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1233" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Harayo Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 1
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 12,-</span>
</div>
            </div>
        </div>

    </div>


</div>

</div>
    <div class="subtotal">
  <hr>
  <div class="subtotal__total">
    <div class="left-col">Total</div>
    <div class="right-col">
      &euro;27,99
    </div>
  </div>
  <div class="subtotal__total">
    <div class="left-col">Delivery</div>
    <div class="right-col">
      Free
    </div>

  </div>
  <div class="subtotal__total">
    <h5>Total (incl. VAT)</h5>
    <div class="right-col">&euro;27,99</div>
  </div>
  <div class="info">
    <p>Price includes value added tax.</p>
  </div>
  <button class="btn">Go to Checkout</button>
</div>
</div>
  </div>
  <span class="item-count">5</span>
</div>
        </div>
    </div>
    <div class="site-header__nav">
        <nav class="nav nav--default">
  <ul>
    <li><a href="./homepage">Startseite</a></li>
    <li><a href="./aboutpage">Uber uns</a></li>
    <li><a href="./categorypage">Kategorien</a></li>
    <li><a href="./stories">Geschichte</a></li>
    <li><a href="./contactpage">Kontakt</a></li>
  </ul>
</nav>
    </div>
</header>
    <div class="product-details">
    <div class="product-details__left">
        <div class="product-details__thumbnails">
            <img src="https://picsum.photos/200/200?0.14268896984877966" alt="sampleimg" />
            <img src="https://picsum.photos/200/200?0.142688969848776" alt="sampleimg" />
            <img src="https://picsum.photos/200/200?0.14268894877966" alt="sampleimg" />
        </div>
        <div class="product-details__image">

            <img src="https://picsum.photos/1200/800?0.9196514946644305" alt="sampleimg" />
            <div class="sale">
    SALE
</div></div>
    </div>


    <div class="product-details__details">
        <h3>Socken</h3>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="product-details__more">
            <div class="product-details__config">
                <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
                <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Color" id="radio-button-Color-s"
            value="s">
        <label for="radio-button-Color-s">Red</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Color" id="radio-button-Color-m"
            value="m">
        <label for="radio-button-Color-m">Green</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Color" id="radio-button-Color-l"
            value="l">
        <label for="radio-button-Color-l">Black</label>
    </div>
</div>
            </div>

            <div class="product-details__actions">
                <div class="price">
    <span class="price--old">&euro; 20,-</span>

    <span class="price--new">&euro; 10,-</span>
</div>
                <div class="product-details__wrap">
                    <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button>
                    <div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
                </div>
            </div>
        </div>

    </div>

</div>
    <div class="products-wrap">
    <h3>Related products</h3>
    <div class="products-list">
        <div class="product">
    <a href="./product-details-page">
        <h3>Kharayo m</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.8383585966810492" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">
    <span class="price--old">&euro; 40,-</span>

    <span class="price--new">&euro; 30,-</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
        <div class="product">
    <a href="./product-details-page">
        <h3>Jarayo m</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.9289422983681022" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">
    <span class="price--old">&euro; 30,-</span>

    <span class="price--new">&euro; 10,-</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
        <div class="product">
    <a href="./product-details-page">
        <h3>Harayo m</h3>
    </a>
    <img src="https://picsum.photos/600/600?0.5706251333082626" alt="" />
    <div class="sale">
    SALE
</div>
    <div class="price">
    <span class="price--old">&euro; 20,-</span>

    <span class="price--new">&euro; 14,-</span>
</div>
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="./product-details-page">Go to details</a>
        </p>
        <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
        <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button><div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
    </div>
</div>
    </div>
</div>
</div>
<div class="footer-menu">
    <div class="container">
        <div class="footer-menu__col">
            <h4>Hilfe</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/payment-invoices">Zahlung &amp; Rechnungen</a></li>
    <li><a href="/delivery-tracking">Lieferung &amp; Tracking</a></li>
    <li><a href="/damage-return">Schaden &amp; Ruckgabe</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Geschenkkarte</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/buy-giftcard">Geschenkkarte kaufen</a></li>
    <li><a href="/redeem-giftcard">Reklamation</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Uber uns</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/sory">Geschichte</a></li>
    <li><a href="/jobs">Jobs</a></li>
  </ul>
</nav>
            <div class="social-links">
    <a class="btn btn--icon-button fa fa-facebook" href="http://facebook.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-instagram" href="http://instagram.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-pinterest" href="http://pinterest.com/topi">
    
</a>
</div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer__copyright">&copy; 2020 Topi.de</div>
</footer>
