

<div class="review-page">
    <div class="container">
        <div class="review-page-wrapper">
            <header class="site-header">
    <div class="row">
        <div class="site-header__logo">
            <h1 class="logo">Topi<span>.</span>de</h1>
        </div>

        <div class="site-header__search">
            <div class="search-form">
    <input type="text" placeholder="Search" value="" />
    <button class="btn btn--icon-button fa fa-search"> </button>
</div>
        </div>

        <div class="site-header__mini-cart">
            <div class="mini-cart">
  <div class="btn--checkbox-button">
    <input type="checkbox" id="mini-cart-check" />
    <label class="fa fa-shopping-cart" for="mini-cart-check"> </label>
    <div class="mini-basket">
    <div class="basket-items">
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12a3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">
    <span class="price--old">&euro; 22,-</span>

    <span class="price--new">&euro; 15,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12d3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Kharayo Handschuhe</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 17,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1253" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 3
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 11,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1233" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Harayo Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 1
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 12,-</span>
</div>
            </div>
        </div>

    </div>


</div>

</div>
    <div class="subtotal">
  <hr>
  <div class="subtotal__total">
    <div class="left-col">Total</div>
    <div class="right-col">
      &euro;27,99
    </div>
  </div>
  <div class="subtotal__total">
    <div class="left-col">Delivery</div>
    <div class="right-col">
      Free
    </div>

  </div>
  <div class="subtotal__total">
    <h5>Total (incl. VAT)</h5>
    <div class="right-col">&euro;27,99</div>
  </div>
  <div class="info">
    <p>Price includes value added tax.</p>
  </div>
  <button class="btn">Go to Checkout</button>
</div>
</div>
  </div>
  <span class="item-count">5</span>
</div>
        </div>
    </div>
    <div class="site-header__nav">
        <nav class="nav nav--default">
  <ul>
    <li><a href="./homepage">Startseite</a></li>
    <li><a href="./aboutpage">Uber uns</a></li>
    <li><a href="./categorypage">Kategorien</a></li>
    <li><a href="./stories">Geschichte</a></li>
    <li><a href="./contactpage">Kontakt</a></li>
  </ul>
</nav>
    </div>
</header>

            <div class="review-rating">
    <h2>Review</h2>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    <div class="review-rating-wrapper">
        <div class="rating-countbar">
    <div class="rating-countbar__number">
        5
    </div>
    <div class="rating-countbar__bar" style="width:60%;"></div>
</div>
        <div class="rating-countbar">
    <div class="rating-countbar__number">
        4
    </div>
    <div class="rating-countbar__bar" style="width:40%;"></div>
</div>
        <div class="rating-countbar">
    <div class="rating-countbar__number">
        3
    </div>
    <div class="rating-countbar__bar" style="width:30%;"></div>
</div>
        <div class="rating-countbar">
    <div class="rating-countbar__number">
        2
    </div>
    <div class="rating-countbar__bar" style="width:20%;"></div>
</div>
        <div class="rating-countbar">
    <div class="rating-countbar__number">
        1
    </div>
    <div class="rating-countbar__bar" style="width:10%;"></div>
</div>
    </div>
</div>
        </div>

        <button class="btn">Write a review</button>
    </div>
    <div class="footer-menu">
    <div class="container">
        <div class="footer-menu__col">
            <h4>Hilfe</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/payment-invoices">Zahlung &amp; Rechnungen</a></li>
    <li><a href="/delivery-tracking">Lieferung &amp; Tracking</a></li>
    <li><a href="/damage-return">Schaden &amp; Ruckgabe</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Geschenkkarte</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/buy-giftcard">Geschenkkarte kaufen</a></li>
    <li><a href="/redeem-giftcard">Reklamation</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Uber uns</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/sory">Geschichte</a></li>
    <li><a href="/jobs">Jobs</a></li>
  </ul>
</nav>
            <div class="social-links">
    <a class="btn btn--icon-button fa fa-facebook" href="http://facebook.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-instagram" href="http://instagram.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-pinterest" href="http://pinterest.com/topi">
    
</a>
</div>
        </div>
    </div>
</div>
    <footer class="footer">
    <div class="footer__copyright">&copy; 2020 Topi.de</div>
</footer>
</div>
