

<div class="shipping-form">
    <div class="field-group">
        <div class="title">
            <h5>Have an Account</h5>
        </div>

        <button class="btn">Login</button>

    </div>
    <div class="subtitle">
        Shipping Adress
    </div>
    <div class="form-field">
    <label>First Name</label>
    <input type="text" placeholder="Enter your first name">

</div>
    <div class="form-field">
    <label>Last Name</label>
    <input type="text" placeholder="Enter your Last name">

</div>

    <div class="form-field">
    <label>Strase</label>
    <input type="text" placeholder="Strase">

</div>
    <div class="form-field">
    <label>Hause Number</label>
    <input type="text" placeholder="Hause Number">

</div>
    <div class="form-field">
    <label>postleitzale</label>
    <input type="text" placeholder="POSTLEITZALE">

</div>

    <div class="form-field">
    <label>Subject</label>
    <select name="subject" id="feedback">
        <option value="1">General Feedback</option>
        <option value="2">Donations</option>
        <option value="3">Product enquiry</option>
        <option value="4">Delivery Issue</option>
    </select>
</div>
    <div class="form-field">
    <label>Branch</label>
    <select name="subject" id="feedback">
        <option value="1">Germany</option>
        <option value="2">Nepal</option>
        <option value="3">Global</option>
    </select>
</div>
    <div class="form-actions">
        <button class="btn">Login</button>
    </div>
