

<div class="user-review-form">
    <div class="form-field">
    <label>Review Title</label>
    <input type="" placeholder="">

</div>
    <div class="form-field">
    <label>Rating</label>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
</div>
    <div class="user-review-form-comment">
        <div class="form-field">
    <label>Review</label>
    <textarea name="" id="" cols="30" rows="10" placeholder=""></textarea>
</div>
    </div>

</div>
