

<div class="user-review-list">
    <div class="user-review-list__item">
        <div class="user-review">
    <div class="user-review-wrapper">
        <div class="title">
            <h2>lena</h2>
        </div>
        <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    </div>

    <div class="date">10,jan,2018</div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum exercitationem rem optio tempora voluptates hic
        expedita in vel nobis? Maxime voluptatem quas suscipit quos dignissimos molestiae, expedita animi culpa
        consectetur.</p>
    <div class="user-review-image">
        <img src="https://picsum.photos/160/160?0.0755426283" alt="" />
        <img src="https://picsum.photos/160/160?0.0755426283" alt="" /><img src="https://picsum.photos/160/160?0.0755426283" alt="" />
    </div>

</div>
    </div>
    <div class="user-review-list__item">
        <div class="user-review">
    <div class="user-review-wrapper">
        <div class="title">
            <h2>Zana</h2>
        </div>
        <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    </div>

    <div class="date">12, june,2019</div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum exercitationem rem optio tempora voluptates hic
        expedita in vel nobis? Maxime voluptatem quas suscipit quos dignissimos molestiae, expedita animi culpa
        consectetur.</p>
    <div class="user-review-image">
        <img src="https://picsum.photos/160/160?2.0755426283" alt="" />
        <img src="https://picsum.photos/160/160?2.0755426283" alt="" /><img src="https://picsum.photos/160/160?2.0755426283" alt="" />
    </div>

</div>
    </div>
    <div class="user-review-list__item">
        <div class="user-review">
    <div class="user-review-wrapper">
        <div class="title">
            <h2>Lusi</h2>
        </div>
        <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    </div>

    <div class="date">22,Nov,2020</div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum exercitationem rem optio tempora voluptates hic
        expedita in vel nobis? Maxime voluptatem quas suscipit quos dignissimos molestiae, expedita animi culpa
        consectetur.</p>
    <div class="user-review-image">
        <img src="https://picsum.photos/160/160?1.0755426283" alt="" />
        <img src="https://picsum.photos/160/160?1.0755426283" alt="" /><img src="https://picsum.photos/160/160?1.0755426283" alt="" />
    </div>

</div>
    </div>
</div>
