

<div class="wish-details">
    <div class="title">Kalo topi</div>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    <div class="stock">
        5 in stock.
    </div>
</div>
