

<div class="wish-list">
    <div class="wish-list__item">
        <img src="https://picsum.photos/160/160?0.0755426283" alt="product Kalo Topi" />
        <div class="wish-details">
    <div class="title">seto Topi</div>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    <div class="stock">
        10 in stock.
    </div>
</div>
        <div class="price">
    <span class="price--old">&euro; 20,-</span>

    <span class="price--new">&euro; 10,-</span>
</div>
        <div class="col">
            <p>Added: Nov 10, 2021</p>
            <button class="btn">Add to cart</button><button class="btn btn--icon-button fa fa-trash"> </button>
        </div>
    </div>
    <div class="wish-list__item">
        <img src="https://picsum.photos/160/160?0.0755426283" alt="product Kalo Topi" />
        <div class="wish-details">
    <div class="title">Seto Topi</div>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    <div class="stock">
        40 in stock.
    </div>
</div>
        <div class="price">
    <span class="price--old">&euro; 20,-</span>

    <span class="price--new">&euro; 10,-</span>
</div>
        <div class="col">
            <p>Added: Nov 10, 2021</p>
            <button class="btn">Add to cart</button><button class="btn btn--icon-button fa fa-trash"> </button>
        </div>
    </div>
    <div class="wish-list__item">
        <img src="https://picsum.photos/160/160?0.0755426283" alt="product Kalo Topi" />
        <div class="wish-details">
    <div class="title">Seto Topi</div>
    <div class="stars">
    <ul>
        <li class="active">

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
        <li>

            <i class="fa fa-star" aria-hidden="true"></i>
        </li>
    </ul>
</div>
    <div class="stock">
        55 in stock.
    </div>
</div>
        <div class="price">
    <span class="price--old">&euro; 20,-</span>

    <span class="price--new">&euro; 10,-</span>
</div>
        <div class="col">
            <p>Added: Nov 10, 2021</p>
            <button class="btn">Add to cart</button><button class="btn btn--icon-button fa fa-trash"> </button>
        </div>
    </div>

</div>
