.rigistration-form {
  .rigistration-form__row {
    margin: 40px 0;
    display: flex;
    justify-content: center;
  }
  .rigistration-form__col {
    width: 50%;
  }
  .btn {
    width: 80%;
  }
}
