.user-review {
  &-wrapper {
    display: flex;
    .title {
      margin-right: 40px;
      h2 {
        margin: 0;
        padding: 0;
      }
    }
  }
  & .date {
    margin: 20px 0;
  }
  img {
    width: 160px;
    margin: 20px 15px 0 0;
  }
  p {
    width: 550px;
  }
}
