<div class="footer-menu">
    <div class="container">
        <div class="footer-menu__col">
            <h4>Hilfe</h4>
            {{render '@nav' help}}
        </div>
        <div class="footer-menu__col">
            <h4>Geschenkkarte</h4>
            {{render '@nav' giftcard}}
        </div>
        <div class="footer-menu__col">
            <h4>Uber uns</h4>
            {{render '@nav' about}}
            {{ render '@social-links'}}
        </div>
    </div>
</div>