.footer-menu {
  margin-top: 50px;
  background: #efefef;
  padding: 20px 0;

  .container {
    display: flex;
  }

  &__col {
    flex-grow: 1;
  }

  @media (max-width: 760px) {
    display: block;
  }
}
