<div class="mini-cart">
  <div class="btn--checkbox-button">
    <input type="checkbox" id="mini-cart-check" />
    <label class="fa fa-shopping-cart" for="mini-cart-check"> </label>
    {{ render '@mini-basket'}}
  </div>
  <span class="item-count">5</span>
</div>