.mini-cart {
  position: relative;

  .item-count {
    position: absolute;
    left: -10px;
    bottom: -10px;
    background: #bf0404;
    color: #fff;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 50%;
    font-family: serif;
  }
}
