.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__cat {
    margin-bottom: 5px;

    &--span-2 {
      width: 66%;
    }

    &--span-1 {
      width: 33%;
    }
  }

  @media (max-width: 760px) {
    flex-direction: column;
    &__cat {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: clamp(300px, 80vw, 400px);
        object-fit: cover;
      }
    }
  }
}
