<section class="subscription">
    <h3>Newsletter</h3>
    <p>Bleiben Sie mit uns up to date und freuen Sie sich über exklusive Geschenke, Vorteils-Aktionen.</p>
    <form action="/">
        <div class="subscription__field"><input type="email" placeholder="E-Mail" required /></div>
        <div class="subscription__field"><label for=""><input type="checkbox" name="datenschutz" id="ds" required> Ja,
                ich
                akzeptiere die
                <a href="/">Datenschutzrechtlenie</a></label></div>
        <div class="subscription__action">{{ render '@button' button}}</div>
    </form>
</section>