<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ path '/css/styles.css' }}">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    {{{ yield }}}
  </div>
</body>

</html>