blockquote {
  background: rgba(255, 255, 255, 0.4);
  border-left: 10px solid $c-primary;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: $c-primary;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
