<div class="progress">
    <div class="root">
        <div class="container">
            <ul class="progressbar">
                <li>login</li>
                <li class="active">Adress</li>
                <li>payment</li>
                <li>confirm</li>
                <li>Done</li>
            </ul>
        </div>
    </div>
</div>