<div class="product-filters">
    <div class="sort"><i class="fa fa-sort-amount-desc ">Sort</i> {{render '@button--radio-buttons' sortData}}</div>

    {{ render '@filter-dropdown' size}}
    {{ render '@filter-dropdown--color' color}}
</div>