<div class="user-review-form">
    {{render '@form-field' review}}
    {{ render '@form-field--star'}}
    <div class="user-review-form-comment">
        {{render '@form-field--textarea'comment}}
    </div>

</div>