<div class="product">
    <h3>Kharoyo topi</h3>
    {{ render '@image'}}
    {{ render '@price'}}
    <div class="overlay">
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        {{render '@button'}}
    </div>
</div>