.product {
  position: relative;

  h3 {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
  }
  .price {
    position: absolute;
    right: 0;
    bottom: 60px;
  }
  .sale {
    position: absolute;
    left: 0;
    top: 30%;
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  &--horizontal {
    display: flex;

    .product__image {
      width: 200px;
      height: 200px;
      margin-right: 20px;
    }

    .product__details {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .radio-buttons {
        margin-top: 10px;

        label {
          padding: 7px 15px;
        }
      }
      h3 {
        position: static;
        padding: 0;
      }
      .price {
        position: static;
        text-align: right;
        padding: 20;
      }

      .details-right {
        min-width: 225px;
      }
    }
  }
}
