.btn {
  background: #000;
  color: white;
  padding: 10px 20px;
  border: none;

  &:hover {
    background: #333;
    color: #fff;
  }

  &--icon-button {
    padding: 10px;
    min-width: 36px;
    text-align: center;
    box-sizing: border-box;
  }
}
