.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    width: 20%;
  }

  input,
  textarea {
    padding: 10px;
  }

  input,
  textarea,
  select {
    margin-left: 20px;
  }

  textarea {
    width: 80%;
  }
}
