<div class="form-field">
    <label>{{label}}</label>
    <select name="subject" id="feedback">
        {{#each options}}
        <option value="{{value}}">{{label}}</option>
        {{/each}}
    </select>
</div>