<div class="image-with-text">
  {{render '@image'}}
  <div class="text">
    <h2>hallo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil labore itaque quo molestias sapiente non
      veniam? Maxime dolores impedit nostrum ut, .</p>
  </div>

</div>