<div class="pagination">
    <nav>
        <ul>
            <li>{{render '@link--icon-button' prevData}}</li>
            <li class="number">{{> '@link' text='1'}}</li>
            <li class="number">{{> '@link' text='2'}}</li>
            <li class="number">{{> '@link' text='3'}}</li>
            <li>{{render '@link--icon-button' nextData}}</li>
        </ul>


    </nav>
</div>