.registration-form-field {
  display: flex;
  &-left {
    margin-right: 50px;
  }
  .btn {
    width: 100%;
    background: #ff7b00;
  }
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
}
