<div class="registration-form">
    <form action="/">
        <div class="registration-form-field">
            <div class="form-field-left">
                <div class="title">
                    <h3>Welcome Back</h3>
                </div>
                {{ render '@form-field' email}}
                {{ render '@form-field' password}}
                {{ render '@button' submit}}
            </div>
            <div class="form-field-right">
                <div class="title">
                    <h3>I am New Here</h3>
                </div>
                {{ render '@button' register}}
            </div>

        </div>
    </form>
</div>