

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/styles.css">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div>
    <div class="checkout-page">
    <div class="container">
        <header class="site-header">
    <div class="row">
        <div class="site-header__logo">
            <h1 class="logo">Topi<span>.</span>de</h1>
        </div>

        <div class="site-header__search">
            <div class="search-form">
    <input type="text" placeholder="Search" value="" />
    <button class="btn btn--icon-button fa fa-search"> </button>
</div>
        </div>

        <div class="site-header__mini-cart">
            <div class="mini-cart">
  <div class="btn--checkbox-button">
    <input type="checkbox" id="mini-cart-check" />
    <label class="fa fa-shopping-cart" for="mini-cart-check"> </label>
    <div class="mini-basket">
    <div class="basket-items">
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12a3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">
    <span class="price--old">&euro; 22,-</span>

    <span class="price--new">&euro; 15,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?12d3" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Kharayo Handschuhe</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 2
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 17,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1253" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Warm Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 3
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 11,-</span>
</div>
            </div>
        </div>

    </div>


</div>
    <div class="basket-item basket-item--mini">
    <div class="basket-item__image">
        <img src="https://picsum.photos/140/140?1233" alt="Product thumbnail" />
    </div>
    <div class="basket-item__details">
        <h5>Harayo Mütze Jarayo</h5>
        <div class="basket-item__actions">
            <div class="basket-item__qty">
                x 1
            </div>
            <div class="basket_item__price">
                <div class="price">

    <span class="price--new">&euro; 12,-</span>
</div>
            </div>
        </div>

    </div>


</div>

</div>
    <div class="subtotal">
  <hr>
  <div class="subtotal__total">
    <div class="left-col">Total</div>
    <div class="right-col">
      &euro;27,99
    </div>
  </div>
  <div class="subtotal__total">
    <div class="left-col">Delivery</div>
    <div class="right-col">
      Free
    </div>

  </div>
  <div class="subtotal__total">
    <h5>Total (incl. VAT)</h5>
    <div class="right-col">&euro;27,99</div>
  </div>
  <div class="info">
    <p>Price includes value added tax.</p>
  </div>
  <button class="btn">Go to Checkout</button>
</div>
</div>
  </div>
  <span class="item-count">5</span>
</div>
        </div>
    </div>
    <div class="site-header__nav">
        <nav class="nav nav--default">
  <ul>
    <li><a href="./homepage">Startseite</a></li>
    <li><a href="./aboutpage">Uber uns</a></li>
    <li><a href="./categorypage">Kategorien</a></li>
    <li><a href="./stories">Geschichte</a></li>
    <li><a href="./contactpage">Kontakt</a></li>
  </ul>
</nav>
    </div>
</header>

        <div class="shipping-form">
    <div class="field-group">
        <div class="title">
            <h5>Have an Account</h5>
        </div>

        <button class="btn">Login</button>

    </div>
    <div class="subtitle">
        Shipping Adress
    </div>
    <div class="form-field">
    <label>First Name</label>
    <input type="text" placeholder="Enter your first name">

</div>
    <div class="form-field">
    <label>Last Name</label>
    <input type="text" placeholder="Enter your Last name">

</div>

    <div class="form-field">
    <label>Strase</label>
    <input type="text" placeholder="Strase">

</div>
    <div class="form-field">
    <label>Hause Number</label>
    <input type="text" placeholder="Hause Number">

</div>
    <div class="form-field">
    <label>postleitzale</label>
    <input type="text" placeholder="POSTLEITZALE">

</div>

    <div class="form-field">
    <label>Subject</label>
    <select name="subject" id="feedback">
        <option value="1">General Feedback</option>
        <option value="2">Donations</option>
        <option value="3">Product enquiry</option>
        <option value="4">Delivery Issue</option>
    </select>
</div>
    <div class="form-field">
    <label>Branch</label>
    <select name="subject" id="feedback">
        <option value="1">Germany</option>
        <option value="2">Nepal</option>
        <option value="3">Global</option>
    </select>
</div>
    <div class="form-actions">
        <button class="btn">Login</button>
    </div>
    </div>
    <div class="footer-menu">
    <div class="container">
        <div class="footer-menu__col">
            <h4>Hilfe</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/payment-invoices">Zahlung &amp; Rechnungen</a></li>
    <li><a href="/delivery-tracking">Lieferung &amp; Tracking</a></li>
    <li><a href="/damage-return">Schaden &amp; Ruckgabe</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Geschenkkarte</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/buy-giftcard">Geschenkkarte kaufen</a></li>
    <li><a href="/redeem-giftcard">Reklamation</a></li>
  </ul>
</nav>
        </div>
        <div class="footer-menu__col">
            <h4>Uber uns</h4>
            <nav class="nav nav--vertical">
  <ul>
    <li><a href="/sory">Geschichte</a></li>
    <li><a href="/jobs">Jobs</a></li>
  </ul>
</nav>
            <div class="social-links">
    <a class="btn btn--icon-button fa fa-facebook" href="http://facebook.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-instagram" href="http://instagram.com/topi">
    
</a>
    <a class="btn btn--icon-button fa fa-pinterest" href="http://pinterest.com/topi">
    
</a>
</div>
        </div>
    </div>
</div>
    <footer class="footer">
    <div class="footer__copyright">&copy; 2020 Topi.de</div>
</footer>

</div>
  </div>
</body>

</html>
