

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/styles.css">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div>
    <div class="filter-dropdown">
  <label>Filter Name </label>
  <input type="checkbox" name="filter" class="filter-root">
  <i class="fa fa-angle-down"></i>
  <ul>
    <li>
      <input type="checkbox" value="1" />
      <label>
        Filter value 1
      </label>
    </li>
    <li>
      <input type="checkbox" value="2" />
      <label>
        Filter value 2
      </label>
    </li>
    <li>
      <input type="checkbox" value="3" />
      <label>
        Filter value 3
      </label>
    </li>
  </ul>
</div>
  </div>
</body>

</html>
