

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/styles.css">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div>
    <h1>Heading 1 Sample Text</h1>
<h2>Heading 2 Lazy fox stuff goes</h2>
<h3>Heading 3 Lazy fox stuff goes</h3>
<h4>Heading 4 Lazy fox stuff goes</h4>
<h5>Heading 5 Lazy fox stuff goes</h5>
<h6>Heading 6 Lazy fox stuff goes</h6>
  </div>
</body>

</html>
