

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/styles.css">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div>
    <div class="product product--horizontal">
    <div class="sale">
    SALE
</div>
    <div class="product__image"> <img src="https://picsum.photos/600/600?0.03439785089552849" alt="" /></div>
    <div class="product__details">
        <div class="details-left">
            <h3>Tarkari</h3>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-s"
            value="s">
        <label for="radio-button-Size-s">S</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-m"
            value="m">
        <label for="radio-button-Size-m">M</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Size" id="radio-button-Size-l"
            value="l">
        <label for="radio-button-Size-l">L</label>
    </div>
</div>
            <div class="radio-buttons">
    <div class="btn--radio-button">
        <input type="radio" name="Color" id="radio-button-Color-s"
            value="s">
        <label for="radio-button-Color-s">Red</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Color" id="radio-button-Color-m"
            value="m">
        <label for="radio-button-Color-m">Green</label>
    </div>
    <div class="btn--radio-button">
        <input type="radio" name="Color" id="radio-button-Color-l"
            value="l">
        <label for="radio-button-Color-l">Black</label>
    </div>
</div>

        </div>
        <div class="details-right">
            <div class="price">
    <span class="price--old">&euro; 30,-</span>

    <span class="price--new">&euro; 10,-</span>
</div>
            <button class="btn btn--icon-button fa fa-shopping-cart"> Zu Warenkorb</button>
            <div class="btn--checkbox-button">
    <input type="checkbox" id="mycheckbox" />
    <label class="fa fa-heart" for="mycheckbox"> </label>
</div>
        </div>


    </div>
</div>
  </div>
</body>

</html>
