

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/styles.css">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div>
    <div class="radio-button">
    <form action="/action">
        <h6>What are you mostly interested in <span>(options)</span></h6>
        <p>we'll use this informaton to make more personalised recomendations</p>
        <input type="radio" id="Mütze" name="gender" value="Mütze">
        <label for="Mütze">Mütze</label><br>
        <input type="radio" id="Socken" name="Socken" value="Socken">
        <label for="female">Socken</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
    </form>
</div>
  </div>
</body>

</html>
