

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/styles.css">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div>
    <div class="registration-form">
    <div class="progress">
    <ul class="progressbar">
        <li>login</li>
        <li class="active">Adress</li>
        <li>payment</li>
        <li>confirm</li>
        <li>Done</li>
    </ul>
</div>
    <div class="registration-form__row">
        <div class="registration-form__col">
            <div class="title">
                <h3>Welcome Back</h3>
            </div>
            <form action="/">
                <button class="btn">Login</button>

            </form>
        </div>
        <div class="registration-form__col">
            <div class="title">
                <h3>I am New Here</h3>
            </div>
            <div class="form-field">
    <label>First name</label>
    <input type="text" placeholder="Enter your first name">

</div>
            <div class="form-field">
    <label>Last name</label>
    <input type="text" placeholder="Enter your last name">

</div>
            <div class="form-field">
    <label>email</label>
    <input type="email" placeholder="Email">

</div>
            <div class="form-field">
    <label>Password</label>
    <input type="Password" placeholder="Password">
    <p class="form-field__hint"><i class="fa fa-info-circle" aria-hidden="true"></i>
        Password must be more than 6 characters long.</p>

</div>

            <button class="btn">Register</button>

        </div>
    </div>
    <div class="payment-methods">
    <div class="payment-methods__cards">
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
    </div>

</div>
</div>
  </div>
</body>

</html>
